---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="about-page"> 
        <h1><span class="about-master-fatman">Master Fatman</span></h1>

        <p>Master Fatman var en kosmisk sjæl, der blandede buddhisme med kristendom og levede efter principper om grænseløs kærlighed, god karma og medmenneskelighed. 
            Han var en, der favnede alle – altid smilende, altid sød og altid godt selskab.

            Han stiftede Det Kosmiske Parti, der handlede om at elske mere, give juridiske rettigheder til naturen og endda sænke jordens rotation for at give os mere tid til hinanden. For ham var livet en fejring, hvor det vigtigste var at møde mennesker med åbenhed og hjertevarme.
            
            Fascineret af den brasilianske livsglæde insisterede han på, at vi i Danmark skulle huske at kere os om hinanden. Han troede på at leve i nuet, stole på sin mavefornemmelse og nyde livet – gerne med en kage i hånden. 
            <br>Som han sagde: "Husk dessert, ellers bliver livet kedeligt."
            
            Han mediterede, dyrkede yoga for sjælens styrke og troede på reinkarnation. For Master Fatman var livet ikke noget, man skulle haste igennem – det skulle sanses, mærkes og leves fuldt ud.</p>
        
        <section class="video-section">
            

        </section>
    </main>
</Layout>
