---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>

       <section class="welcome-section">
          <div class="welcome-text">
              <h1>Velkommen til Master Fatmans Univers</h1>
              <p>LOVE, PEACE, CAKE</p>
          </div>
       </section>

       <section class="video-section">
          <div class="video-container">
              <iframe 
                  src="https://www.youtube.com/embed/FJS8zQ9XWfs"
                  title="Master Fatman Videoklip"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
              ></iframe>
          </div>
       </section>
          
    </main>
</Layout>
