---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main>
        <h1>Velkommen til Master Fatmans Univers</h1>
       
        <p class="love-peace-cake">LOVE, PEACE, CAKE</p>
        
        <section class="video-section">
           
            
        </section>
    </main>
</Layout>
