---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <h1>Master Fatman</h1>

        <!-- Indsætter interactiveSvg.html via iframe -->
        <iframe 
            src="/interactiveSvg.html" 
            width="100%" 
            height="800px" 
            style="border: none;"
        ></iframe>

    </main>
</Layout>
