<nav id="burger-menu">
    <ul>
        <li><a href="/" onclick="closeMenu()">FORSIDE</a></li>
        <li><a href="/interaktiv" onclick="closeMenu()">INTERAKTIV</a></li>
        <li><a href="/about" onclick="closeMenu()">Om MASTER FATMAN</a></li>
    </ul>
</nav>
