<nav id="burger-menu">
    <ul>
        <li><a href="/" onclick="closeMenu()">FORSIDE</a></li>
        <li><a href="interactiveSvgTest.html" onclick="closeMenu()">INTERAKTIV</a></li>
    
    </ul>
</nav>
