---
import Burgermenu from "./burgermenu.astro";
import header from "./header.astro";
import footer from "./footer.astro";
---

<header class="navbar">
    <nav>

        <!-- Normal menu til desktop -->
        <ul class="nav-links">
            <li><a href="/">FORSIDE</a></li>
            <a href="/interactiveSvg.html">Interaktiv</a>
        </ul>

        <!-- Burger-menu til mobil -->
        <button id="burger-toggle">☰</button>

        <Burgermenu />
    </nav>
</header>
